<h1>Listing user_defined_attributes_field_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_defined_attributes_field_types.each do |user_defined_attributes_field_type| %>
      <tr>
        <td><%= user_defined_attributes_field_type.name %></td>
        <td><%= link_to 'Show', [:user_defined_attributes,user_defined_attributes_field_type] %></td>
        <td><%= link_to 'Edit', edit_user_defined_attributes_field_type_path(user_defined_attributes_field_type) %></td>
        <td><%= link_to 'Destroy', [:user_defined_attributes,user_defined_attributes_field_type], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Field type', new_user_defined_attributes_field_type_path %>
